.game-board {
    display: inline-block;
    margin: 20px;
}

.game-board-row {
    display: block;
}

.game-state {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: gray;
    cursor: pointer;
}

.game-reward {
    margin: 20px;
    font-size: 200%;
}

.game-action {
    margin: 20px;
    font-size: 200%;
}

.game-values {
    display: flex;
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    cursor: pointer;
}

.game-value {
    display: inline-block;
    width: 32px;
    height: 32px;
    color: yellow;
    cursor: pointer;
    text-align: center;
    overflow-x: hidden;
}