* {
    font-family: 'Courier New', Courier, monospace;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    * {
        font-size: 30px;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    * {
        font-size: 20px;
    }
}

textarea, button, input, select, option {
    padding: 0.75em;
    border: 0.125em solid black;
}

button, input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

input {
    width: 400px;
}

input:hover {
    background-color: lightgreen;
}

input:invalid {
    background-color: lightpink;
}

select {
    cursor: pointer;
}

.container, .game-board, .game-reward, .game-action {
    margin: 0.5em;
}

.game-board {
    display: inline-block;
}

.game-board-row {
    display: block;
}

.game-state {
    display: inline-block;
    cursor: pointer;
}

.game-values {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    cursor: pointer;
}

.game-value {
    display: inline-block;
    color: yellow;
    cursor: pointer;
    text-align: center;
}

.game-state, .game-value {
    width: 2em;
    height: 2em;
}

.game-values {
    width: 6em;
    height: 6em;
}